@import url('themes/pico.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: var(--main-font-family);
    background-color: var(--main-bg-color);
}
main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Home Page */
.h-container {
    width : 100%;
    max-width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.h-container .h-logo {
    width: 512px;
}
.h-content{
    width: 100%;
    background: var(--main-box-bg-color);
    border: 1px solid var(--main-border-color);
}
.h-section-header{
    padding: .2rem .5rem;
    background: var(--main-post-header-color);
    border: 1px solid var(--main-border-color);
}
.h-section-content{
    padding: .2rem .5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}
.h-section-item{
    display: flex;
    flex-direction: column;
}
.h-section-i-desc{
    font-size: .8rem;
}

/* Error Page */
.big-message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.big-message h1{
    font-size: 5rem;
}