:root {
    --main-bg-color: #e8fcc2;
    --main-text-color: #120309;
    --sub-text-color: #ffffff;
    --main-border-color: #b1cc74;
    --main-box-bg-color: #b8d181;
    --main-post-header-color: #9799ca;

    --main-font-family: 'Roboto', sans-serif;
}  