:root {
    --main-bg-color: #e8fcc2;
    --main-text-color: #120309;
    --sub-text-color: #adadad;
    --main-link-color: #46b1c9;
    --main-border-color: #b1cc74;
    --main-post-bg-color: #b8d181;

    --main-font-family: 'Roboto', sans-serif;
}  